<h2>Template: <small>switches</small></h2>
<hr>
<form #miFormulario="ngForm">
    
    <!-- Radio -->
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label ">Genero</label>
        <div class="col-sm-9">  
            <div class="form-check">
                <input  type="radio" 
                        class="form-check-input" 
                        name="radioGenero" 
                        id="radioMasculino"
                        value="M"
                        required
                        [(ngModel)]="persona.genero">
                <label for="radioMasculino" class="form-check-label">
                    Masculino
                </label>
            </div>
            <div class="form-check">
                <input type="radio" 
                class="form-check-input" 
                name="radioGenero" 
                value="F"
                [(ngModel)]="persona.genero"
                id="radioFemenino"
                required>
                <label for="radioFemenino" class="form-check-label">
                    Femenino
                </label>
            </div>
        </div>
    </div>
    <!-- Switches -->
    <div class="row">
        <label class="col-sm-3 col-form-label">Notificaciones</label>
        <div class="col-sm-9 form-check form-switch">
            <input  class="form-check-input" 
                    type="checkbox" 
                    id="notificaciones"
                    [(ngModel)]="persona.notificaciones"
                    name="notificaciones">
            <label class="form-check-label" for="notificaciones">Desea recibir notificaciones</label>
        </div>      
    </div>    
    
    <div class="row">
        <label class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9 form-check ">    
            <input class="form-check-input" type="checkbox" id="terminos" 
            name="termino"
            [(ngModel)]="terminosCondiciones"
            required>
            <label class="form-check-label" for="terminos">Terminos y condiciones</label>
        </div>    
    </div>    
    <div class="row">
        <div class="col-sm-9 form-check ">    
            <button class="btn btn-primary float-end"
            [disabled]="miFormulario.invalid">
                Guardar
            </button>        
        </div>    
    </div>    
        
    
</form>


<small>Formulario</small>
<pre>{{ miFormulario.value | json}}</pre>

<pre>{{ miFormulario.valid | json}}</pre>
<br>
<small>persona</small>
<pre>{{ persona | json}}</pre>

<small>Termino</small>
<pre>{{ terminosCondiciones | json}}</pre>